.consulta-content {
  padding: 24px;
  table th {
    min-width: 100px;
    &.wider {
      min-width: 200px;
    }
  }
  .btn-arrow {
    padding:4px 8px;
    margin: 2px;
    line-height: normal;
    font-weight: bold;
  }
}