<div class="consulta-content">
  <h2>Consultar empleados</h2>
  <!-- <div class="float-right">
    <button class="btn btn-success btn-arrow">&lt;</button>
    <button class="btn btn-success btn-arrow">&gt;</button>
  </div> -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="wider">Nombre Completo</th>
          <th>Tipo de Identificación</th>
          <th>Número de Identificación</th>
          <th>Área</th>
          <th>País del empleo</th>
          <th>Correo electrónico</th>
          <th>Estado</th>
          <th></th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let empleado of empleados">
          <tr>
            <td>{{empleado.primerNombre}} {{empleado.otrosNombres}} {{empleado.primerApellido}} {{empleado.segundoApellido}}</td>
            <td>{{tiposIdentificacionKeys[empleado.fk_idTipoIdentificacion]?.nombre}}</td>
            <td>{{empleado.numeroIdentificacion}}</td>
            <td>{{areasKeys[empleado.fk_idArea]?.nombre}}</td>
            <td>{{paisesKeys[empleado.fk_idPais]?.nombre}}</td>
            <td>{{empleado.correo}}</td>
            <td>{{empleado.estado}}</td>
            <td><a role="button" class="btn btn-success" [routerLink]="'/editar/' + empleado.idEmpleado">Editar</a></td>
            <!-- <td><button class="btn btn-success" type="button" (click)="deleteEmpleado($event)">Eliminar</button></td> -->
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="filtro-empleados">
    <h2>Filtrar</h2>
    <form [formGroup]="filtrosForm">
      <button class="btn btn-success" type="submit" (click)="search($event)">Buscar</button>
      <button class="btn btn-success" type="button" (click)="resetFiltros($event)">Eliminar filtros</button>
      <div class="row">
        <div class="col-6">
          <div class="form-control">
            <label for="primerNombre">Primer nombre</label>
            <input id="primerNombre" [formControlName]="'primerNombre'">
          </div>
        </div>
        <div class="col-6">
          <div class="form-control">
            <label for="otrosNombres">Otros nombres</label>
            <input id="otrosNombres" [formControlName]="'otrosNombres'">
          </div>
        </div>
        <div class="col-6">
          <div class="form-control">
            <label for="primerApellido">Primer apellido</label>
            <input id="primerApellido" [formControlName]="'primerApellido'">
          </div>
        </div>
        <div class="col-6">
          <div class="form-control">
            <label for="segundoApellido">Segundo apellido</label>
            <input id="segundoApellido" [formControlName]="'segundoApellido'">
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="form-control">
            <label for="fk_idPais">País del empleo</label>
            <select [formControlName]="'fk_idPais'" id="fk_idPais">
              <option hidden selected>Seleccione un país</option>
              <option *ngFor="let pais of paises" [ngValue]="pais.idPais">{{pais.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-control">
            <label for="fk_idArea">Tipo de identificación</label>
            <select [formControlName]="'fk_idArea'" id="fk_idArea">
              <option hidden selected>Seleccione un tipo de identificación</option>
              <option *ngFor="let area of areas" 
                      [ngValue]="area.idArea">{{area.nombre}}</option>
            </select>
          </div>
        </div> -->
      </div>
    </form>
  </div>
</div>
