<div class="main-layout">
  <header>  <app-header></app-header>       </header>
  <nav>     <app-sidenav></app-sidenav>     </nav>
  <main>    <router-outlet></router-outlet> </main>
  <!-- <footer>  <app-footer></app-footer>       </footer> -->
</div>

