.main-layout {
  // display: grid;
  position: relative;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 40px 1fr 40px;
  height: 100%;

  & > header {
    position: fixed;
    top:0;
    left:0;
    // grid-area: header;
    height: 40px;
    width:100vw;
    z-index: 20;
    background-color: white;
  }

  & > nav {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 300px;
    margin: 40px 0 0 0;
    // grid-area: sidenav;
    z-index: 10;
    background-color: white;
  }

  & > main {
    position: relative;
    padding: 40px 0 40px 300px;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    width: 100%;
    // grid-area: content;
  }

  & > footer {
    position: fixed;
    // grid-area: footer;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100vw;
    z-index: 30;
    background-color: white;
  }
}