<div class="edicion-content">
  <h2>Registrar empleado</h2>
  <form [formGroup]="edicionForm" (submit)="updateUsuario($event)">
    <div class="row">
      <div class="col-6">
        <div class="form-control">
          <label for="primerNombre">Primer nombre</label>
          <input id="primerNombre" [formControlName]="'primerNombre'">
        </div>
      </div>
      <div class="col-6">
        <div class="form-control">
          <label for="otrosNombres">Otros nombres</label>
          <input id="otrosNombres" [formControlName]="'otrosNombres'">
        </div>
      </div>
      <div class="col-6">
        <div class="form-control">
          <label for="primerApellido">Primer apellido</label>
          <input id="primerApellido" [formControlName]="'primerApellido'">
        </div>
      </div>
      <div class="col-6">
        <div class="form-control">
          <label for="segundoApellido">Segundo apellido</label>
          <input id="segundoApellido" [formControlName]="'segundoApellido'">
        </div>
      </div>
      <div class="col-6">
        <div class="form-control">
          <label for="fk_idPais">País del empleo</label>
          <select [formControlName]="'fk_idPais'" id="fk_idPais">
            <option hidden selected>Seleccione un país</option>
            <option *ngFor="let pais of paises" [ngValue]="pais.idPais">{{pais.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-control">
          <label for="fk_idArea">Tipo de identificación</label>
          <select [formControlName]="'fk_idArea'" id="fk_idArea">
            <option hidden selected>Seleccione un tipo de identificación</option>
            <option *ngFor="let area of areas" 
                    [ngValue]="area.idArea">{{area.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-control">
          <label for="fk_idTipoIdentificacion">Tipo de identificación</label>
          <select [formControlName]="'fk_idTipoIdentificacion'" id="fk_idTipoIdentificacion">
            <option hidden selected>Seleccione un tipo de identificación</option>
            <option *ngFor="let tipoIdentificacion of tiposIdentificacion" 
                    [ngValue]="tipoIdentificacion.idTipoIdentificacion">{{tipoIdentificacion.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-control">
          <label for="numeroIdentificacion">Número de identificación</label>
          <input id="numeroIdentificacion" [formControlName]="'numeroIdentificacion'">
        </div>
      </div>
    </div>
    <button class="btn btn-success" 
            type="submit" 
            [disabled]="edicionForm.invalid">Actualizar usuario</button>
  </form>
</div>