
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cidenet-frontend-primary: mat-palette($mat-indigo);
$cidenet-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cidenet-frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cidenet-frontend-theme: mat-light-theme((
  color: (
    primary: $cidenet-frontend-primary,
    accent: $cidenet-frontend-accent,
    warn: $cidenet-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cidenet-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  padding: 12px;
  margin-right: 12px;
}

.form-control {
  padding: 8px 0;
  border-width: 0;
  label {
    font-size: 12px;
    color: gray;
    display: block;
  }
  input, select {
    display: block;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px;
    border-width: 0;
    background-color: #e6e6e6;
    width: 100%;
  }
  select {
    cursor: pointer;
  }
}