.sidenav-content {
  display: inline-block;
  background-color: #97c2da;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  & > ul {
    list-style: none;
    padding:0;
    margin:0;
    & > li {
      font-size: 22px;
      display: block;
      width:100%;
      &::before {
        display: none;
      }
      & > a{
        display: block;
        width: 100%;
        font-size: large;
        padding:12px 24px;
        color: black;
        text-decoration: none;
        box-sizing: border-box;
        &:hover {
          background-color: #a3a3a3;
        }
      }
    }
  } 
}