<div class="sidenav-content">
  <ul>
    <li>
      <a [routerLink]="'/'"><span>Consultar empleados</span></a>
    </li>
    <li>
      <a [routerLink]="'/registrar'"><span>Registrar empleados</span></a>
    </li>
  </ul>
</div>